.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -@margin-medium;
}

.card {
	position: relative;
	flex: 1 1 24rem;
	display: flex;
	flex-direction: column;
	margin: @margin-medium;
}

.card-inner {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.card-image {
	position: relative;

	img {
		.square(64px);
	}
}

.card-title {
	margin: 1.5em 0 0 !important;
}

.card-divider {
	margin: @gutter auto @gutter 0;
	width: 100%;
    max-width: 50px;
	height: 2px;
	background: @dark;
}

.card-summary {
	flex: 1 0 auto;
	margin: 0;
}
	
.card-footer {
	position: relative;
	padding: 20px 15px;
	.semibold-font();
	.font-size(1.4);
	.uppercase();
	color: @grey;
	background: @white;
	border-top: 1px solid lighten(@primary, 30%);

	svg {
		position: absolute;
		top: 50%;
		right: 15px;
		.translateY(-50%);

		path {
			fill: @grey;
			.transition(fill 0.1s ease-in-out);
		}
	}
}