.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid @light;
	box-shadow: 0px 1px 5px fade(@dark, 3.5%);
}

.card-link {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	box-orient: vertical;
	transition: all @transition-fast ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
		
		.card-footer {

			svg path {
				fill: @body-color;
			}
		}
	}
}

.card-image {
	position: relative;
	padding: @padding-medium 0px;
	text-align: center;
	background: @light;

	img {

		@media @xsmall {
			.square(64px);
		}
	}
}

.card-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	box-orient: vertical;
	box-direction: normal;
	padding: 30px 20px;
	min-height: 200px;
	background: @white;
}

.card-title {
	margin: 0 !important;
	.font-size(2);
	line-height: 1.5;
}

.card-divider {
	margin: 15px auto 15px 0px;
	width: 100%;
    max-width: 50px;
	height: 2px;
	background: @dark;
}

.card-summary {
	flex: 1 0 auto;
	margin: 0;
	max-width: 90%;
}
	
.card-footer {
	position: relative;
	padding: 20px 15px;
	.semibold-font();
	.font-size(1.4);
	.uppercase();
	color: @grey;
	background: @white;
	border-top: 1px solid lighten(@primary, 30%);

	svg {
		position: absolute;
		top: 50%;
		right: 15px;
		.translateY(-50%);

		path {
			fill: @grey;
			.transition(fill 0.1s ease-in-out);
		}
	}
}