<footer class="footer">
  <div class="container">
    {% include 'social.njk' %}
    <p class="footer-copyright">
      Built with <a href="https://11ty.io/">Eleventy</a> · <a href="/styleguide/">Style Guide</a>
    </p>
  </div>
</footer>
