<a
  class="item"
  href="{% if item.page.url %}{{ item.page.url }}{% elif item.url %}{{ item.url }}{% endif %}"
>
  {% if item.data.title %}
    <h3>{{ item.data.title }}</h3>
  {% elif item.title %}
    <h3>{{ item.title }}</h3>
  {% endif %} 
  {% if item.date %}
    <p class="meta">
      <time datetime="{{ item.date.toISOString() }}">
        {{
          item.date.toLocaleDateString('en-AU', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          }) 
        }}
      </time>
    </p>
  {% endif %}
  {% if item.data.description %}
    <p class="description">{{ item.data.description }}</p>
  {% elif item.description %}
    <p class="description">{{ item.description }}</p>
  {% endif %}
</a>
