<a
  class="item"
  href="{% if item.page.url %}{{ item.page.url }}{% elif item.url %}{{ item.url }}{% endif %}"
>
  <h3>
    {% if item.data.title %}
      {{ item.data.title }}
    {% elif item.title %}
      {{ item.title }}
    {% endif %}
  </h3>
  {% if item.date %}
    <p class="meta">
      <time datetime="{{ item.date.toISOString() }}">
        {{
          item.date.toLocaleDateString('en-AU', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          }) 
        }}
      </time>
    </p>
  {% endif %}
  <p class="description">
    {% if item.data.description %}
      {{ item.data.description }}
    {% elif item.description %}
      {{ item.description }}
    {% endif %}
  </p>
</a>
