<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>{{ title + ' - ' + site.title }}</title>

<meta name="revisit-after" content="2 days">
<meta name="robots" content="all">
<meta name="description" content="{{ description }}">

{# {% if date %}
  <meta property="article:published_time" content="{{ date.toUTCString() }}" />
{% endif %} #}

<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ site.url }}{{ url }}" />
<meta property="og:description" content="{{ description }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}" />
