<nav aria-label="Main navigation" class="nav">
  <ul>
    {%- for item in nav %}
      {% set current = item.url == page.url %}
      <li>
        <a
          aria-current="{% if current %}page{% else %}false{% endif %}"
          href="{{ item.url | url }}"
        >
          {% if current %}
            {% include item.icon.current %}
          {% else %}
            {% include item.icon.default %}
          {% endif %}
          <span>
            {{ item.title }}
          </span>
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>