<nav aria-label="Social navigation" class="social">
  {% if social.twitter %}
    <a
      aria-label="Twitter"
      href="{{ social.twitter }}"
    >
      {% include 'svg/twitter.svg' %}
    </a>
  {% endif %}
  {% if social.github %}
    <a
      aria-label="GitHub"
      href="{{ social.github }}"
    >
      {% include 'svg/github.svg' %}
    </a>
  {% endif %}
  {% if social.instagram %}
    <a
      aria-label="Instagram"
      href="{{ social.instagram }}"
    >
      {% include 'svg/instagram.svg' %}
    </a>
  {% endif %}
  {% if social.dribbble %}
    <a
      aria-label="Dribbble"
      href="{{ social.dribbble }}"
    >
      {% include 'svg/dribbble.svg' %}
    </a>
  {% endif %}
  {% if social.linkedin %}
    <a
      aria-label="Linkedin"
      href="{{ social.linkedin }}"
    >
      {% include 'svg/linkedin.svg' %}
    </a>
  {% endif %}
</nav>
