<nav class="social">
  {% if social.twitter %}
    <a
      aria-label="Twitter"
      href="{{ social.twitter }}"
      rel="noopener noreferrer"
      target="_blank"
    >
      {% include 'svg/twitter.svg' %}
    </a>
  {% endif %}
  {% if social.github %}
    <a
      aria-label="GitHub"
      href="{{ social.github }}"
      rel="noopener noreferrer"
      target="_blank"
    >
      {% include 'svg/github.svg' %}
    </a>
  {% endif %}
  {% if social.instagram %}
    <a
      aria-label="Instagram"
      href="{{ social.instagram }}"
      rel="noopener noreferrer"
      target="_blank"
    >
      {% include 'svg/instagram.svg' %}
    </a>
  {% endif %}
  {% if social.dribbble %}
    <a
      aria-label="Dribbble"
      href="{{ social.dribbble }}"
      rel="noopener noreferrer"
      target="_blank"
    >
      {% include 'svg/dribbble.svg' %}
    </a>
  {% endif %}
  {% if social.linkedin %}
    <a
      aria-label="Linkedin"
      href="{{ social.linkedin }}"
      rel="noopener noreferrer"
      target="_blank"
    >
      {% include 'svg/linkedin.svg' %}
    </a>
  {% endif %}
</nav>
