/node_modules/*

app/tmp
!app/tmp/cache/models/empty
!app/tmp/cache/persistent/empty
!app/tmp/cache/views/empty
!app/tmp/logs/empty
!app/tmp/sessions/empty
!app/tmp/tests/empty
app/Config/database.php
app/Config/config.php
node_modules
npm-debug.log
/Vendor
app/webroot/js/bundle.js
app/webroot/js/bundle.js.map
app/webroot/css/main.css
app/webroot/css/main.css.map
app/webroot/views
app/webroot/files
!app/webroot/files/files/empty
!app/webroot/files/images/empty
!app/webroot/files/uploads/empty
!app/webroot/files/documents/empty
app/webroot/generated
!app/webroot/generated/images/_cropped/empty
config.json
.idea
coverage
app/webroot/modules
app/Plugin/Tank
app/webroot/js/main.js
composer.lock