!app/tmp
!app/tmp/cache/models/empty
!app/tmp/cache/persistent/empty
!app/tmp/cache/views/empty
!app/tmp/logs/empty
!app/tmp/sessions/empty
!app/tmp/tests/empty
app/Config/database.php
app/Config/config.php

/Vendor
app/webroot/dist/
!app/webroot/files
!app/webroot/files/files/empty
!app/webroot/files/images/empty
!app/webroot/files/uploads/empty
!app/webroot/files/documents/empty
app/webroot/generated
!app/webroot/generated/images/_cropped/empty

npm-debug.log
node_modules
config.json
coverage
app/Plugin/Tank
composer.lock