---
layout: default
---

{% include hero.html %}
{% include about.html %}
{% include projects.html %}
{% include work.html %}
{% include achievements.html %}
{% include contact.html %}

<section class="fact" aria-labelledby="fact-title-1">
	<h3 id="fact-title-1" class="section-title">Fun Fact</h3>
	<p>This site doesn't contain Javascript. Sometimes you don't need it.</p>
</section>

<section class="fact" aria-labelledby="fact-title-2">
	<h3 id="fact-title-2" class="section-title">Fun Fact</h3>
	<p>Online battles don't matter. Bickering over technology is a mad waste of time.</p>
</section>

<section class="fact" aria-labelledby="fact-title-3">
	<h3 id="fact-title-3" class="section-title">Fun Fact</h3>
	<p>The cool kids make sure their markup is semantic and accessible.</p>
</section>

<section class="fact" aria-labelledby="fact-title-4">
	<h3 id="fact-title-4" class="section-title">Fun Fact</h3>
	<p>When you don't implement <a href="http://deathtobullshit.com/">bullshit</a>, you don't need to debug <a href="http://deathtobullshit.com/">bullshit</a>.</p>
</section>