---
layout: default
order: 10
title: Home
page_title: Scott de Jonge
description: "A UI/UX designer and web developer"
color: "#FFFFFF"
background: "#0C0C0C"
---

<section class="section" aria-labelledby="pages-title">
  <h2 id="pages-title">Pages</h2>
  <div class="grid">
    {% assign pages = site.pages | sort: 'order' %}
    {% for post in pages %}
      {% if post.url != "/" %}
        {% include post.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="section" aria-labelledby="projects-title">
  <h2 id="projects-title">Projects</h2>
  <div class="grid">
    {% assign projects = site.projects | sort: 'order' %}
    {% for post in projects %}
      {% include post.html %}
    {% endfor %}
  </div>
</section>

<section class="section" aria-labelledby="writing-title">
  <h2 id="writing-title">Writing</h2>
  <div class="grid">
    {% for post in site.posts %}
      {% include post.html %}
    {% endfor %}
  </div>
</section>