.action {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--primary);

  & span {
    flex: none;
  }

  & svg {
    flex: none;
    margin-left: 1em;
  }
}