blockquote {
	margin: 4rem 0;
	padding-left: 2rem;
	font-family: var(--font-family-serif);

	& p {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		font-size: 1.5em;
		font-style: normal;
		line-height: 1.5;
	}
}