blockquote {
  margin: 2rem 0;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.25em;
  font-style: normal;
  line-height: 1.375;
  background: var(--background-alt);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  & p {
    line-height: inherit;
  }
}