blockquote {
  margin: 2rem 0;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.25em;
  font-style: normal;
  line-height: 1.5;
  border-left: 0.25rem solid currentColor;

  & p {
    line-height: inherit;
  }
}