figure {
  margin: 2rem 0;
  padding: 1rem;
  background: var(--background-alt);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  
  & img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }
}

figcaption {
  margin-top: 0.5rem;
  font-size: 0.75em;
  font-style: normal;
  line-height: 1.375;
}