table {
  width: 100%;
  font-family: var(--monospace);
  font-size: 0.75rem;
  text-align: left;
  line-height: 1;
  letter-spacing: -0.025em;
  border: 1px solid currentColor;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border: 1px solid currentColor;
}