<section id="about" class="content" aria-labelledby="about-title">
	<h2 id="about-title" class="section-title">About</h2>
	<p class="lead">UI/UX designer &amp; Web developer.<br>Data &amp; Design for humans.</p>
	<div class="row">
		<div class="column-1-2 column-xlarge-1-4 margin-bottom-medium">
			<h4>Profile</h4>
			<p>Scott de Jonge is a interaction designer, web developer, and all round <a href="http://scottis.cool">cool dude</a> from Brisbane, Australia. Previously a sole trader, now works at <a href="http://bigfish.tv">bigfish.tv</a> creating universally accessible reponsive web interfaces for anyone anywhere.</p>
		</div>
		<div class="column-1-2 column-xlarge-1-4 margin-bottom-medium">
			<h4>Experience</h4>
			<ul>
				<li><a href="http://bigfish.tv">bigfish.tv</a> 2013 &ndash; Present</li>
				<li>University of Queensland 2012 &ndash; 2013</li>
				<li>Sole Trader 2009 &ndash; 2013</li>
			</ul>
			<p>Bachelor of Multimedia Design<br>University of Queensland, Graduated 2012</p>
		</div>
		<div class="column-1-2 column-xlarge-1-4 margin-bottom-medium">
			<h4>Skills</h4>
			<ul>
				<li>UI/UX Design</li>
				<li>Web Development</li>
				<li>Accessibility</li>
				<li>Responsive Design</li>
				<li>Interaction Design</li>
				<li>Pixel Art</li>
			</ul>
		</div>
		<div class="column-1-2 column-xlarge-1-4">
			<h4>Technical Skills</h4>
			<ul>
				<li>HTML/CSS/Javascript/PHP</li>
				<li>Creative Suite</li>
				<li>Task Management</li>
				<li>CSS processors</li>
				<li>Version Control</li>
				<li>Reusable &amp; Generic Code</li>
			</ul>
		</div>
	</div>
</section>