<section id="achievements" class="section" aria-labelledby="achievements-title">
	<div class="container">
		<h1 id="achievements-title" class="section-title">Achievements</h1>
		<p class="lead">A short but sweet list of my illustrious accomplishments.</p>

		<article class="tile">
			<h2>Born</h2>
			<p>All cool, no fool since '89<br><em>Diapers to designer to developer</em></p>
		</article>

		<article class="tile">
			<h2>Web User</h2>
			<p>Browser bad boy since '95<br><em>Netscape to Chrome</em></p>
		</article>

		<article class="tile">
			<h2>Web Maker</h2>
			<p>Wild wild web since '02<br><em>Frames to floats to flexbox</em></p>
		</article>

		<article class="tile">
			<h2>Awards</h2>
			<p>Fuck awards</p>
		</article>
		
	</div>
</section>