<section id="achievements" class="content" aria-labelledby="achievements-title">
	<h2 id="achievements-title" class="section-title">Achievements</h2>
	<p class="lead">A short but sweet list of my illustrious accomplishments.</p>
	<ul class="grid-items">
		<li class="grid-item">
			<article class="tile">
				<h4>Born</h4>
				<p>All cool, no fool since '89<br><em>Diapers to designer to developer</em></p>
			</article>
		</li>
		<li class="grid-item">
			<article class="tile">
				<h4>Web User</h4>
				<p>Browser bad boy since '95<br><em>Netscape to Chrome</em></p>
			</article>
		</li>
		<li class="grid-item">
			<article class="tile">
				<h4>Web Maker</h4>
				<p>Wild wild web since '02<br><em>Frames to floats to flexbox</em></p>
			</article>
		</li>
		<li class="grid-item">
			<article class="tile">
				<h4>Awards</h4>
				<p>Fuck awards</p>
			</article>
		</li>
	</ul>
</section>