<section id="contact" class="section" aria-labelledby="contact-title">
	<div class="container">
		<h1 id="contact-title">Contact</h1>
		<p class="lead"><a href="https://www.youtube.com/watch?v=Jy7ERY_6Hg0">Hello, Hello!<br>Follow me? Okay.</a></p>
		
		<div class="cards">

			<article class="card">
				<h2>Twitter</h2>
				<p><a href="https://twitter.com/scottdejonge">@scottdejonge</a><br><em>Absolute pure dribble</em></p>
			</article>

			<article class="card">
				<h2>GitHub</h2>
				<p><a href="https://github.com/scottdejonge/">@scottdejonge</a><br><em>Radicool repos</em></p>
			</article>

			<article class="card">
				<h2>Instagram</h2>
				<p><a href="https://instagram.com/scottdejonge/">@scottdejonge</a><br><em>Poor quality photography</em></p>
			</article>

			<article class="card">
				<h2>Everything</h2>
				<p><a href="http://lmgtfy.com/?q=%40scottdejonge">@scottdejonge</a><br><em>Just search ya dummy</em></p>
			</article>

		</div>
		
	</div>
</section>