<section id="contact" class="content content-center" aria-labelledby="contact-title">
	<h2 id="contact-title" class="section-title">Contact</h2>
	<p class="lead"><a href="https://www.youtube.com/watch?v=Jy7ERY_6Hg0">Hello, Hello!<br>Follow me? Okay.</a></p>
	<ul class="grid-items">
		<li class="grid-item">
			<article class="tile">
				<h4>Twitter</h4>
				<p><a href="https://twitter.com/scottdejonge">@scottdejonge</a><br><em>Absolute pure dribble</em></p>
			</article>
		</li>
		<li class="grid-item">
			<article class="tile">
				<h4>GitHub</h4>
				<p><a href="https://github.com/scottdejonge/">@scottdejonge</a><br><em>Radicool repos</em></p>
			</article>
		</li>
		<li class="grid-item">
			<article class="tile">
				<h4>Instagram</h4>
				<p><a href="https://instagram.com/scottdejonge/">@scottdejonge</a><br><em>Poor quality photography</em></p>
			</article>
		</li>
		<li class="grid-item">
			<article class="tile">
				<h4>Everything</h4>
				<p><a href="http://lmgtfy.com/?q=%40scottdejonge">@scottdejonge</a><br><em>Just search ya dummy</em></p>
			</article>
		</li>
	</ul>
</section>