<section id="experience" class="section" aria-labelledby="experience-title">
	<div class="container">
		<div class="cards">

			<article class="card">
				<h2>Experience</h2>
				<ul class="list">
					<li><a href="http://bigfish.tv">bigfish.tv</a> 2013 &ndash; Present</li>
					<li>University of Queensland 2012 &ndash; 2013</li>
					<li>Sole Trader 2009 &ndash; 2013</li>
				</ul>
			</article>

			<article class="card">
				<h2>Skills</h2>
				<ul class="list">
					<li>UI/UX Design</li>
					<li>Web Development</li>
					<li>Accessibility</li>
					<li>Responsive Design</li>
					<li>Interaction Design</li>
					<li>Pixel Art</li>
				</ul>
			</article>

			<article class="card">
				<h2>Skills</h2>
				<ul class="list">
					<li>UI/UX Design</li>
					<li>Web Development</li>
					<li>Accessibility</li>
					<li>Responsive Design</li>
					<li>Interaction Design</li>
					<li>Pixel Art</li>
				</ul>
			</article>

			<article class="card">
				<h2>Technical Skills</h2>
				<ul class="list">
					<li>HTML/CSS/Javascript/PHP</li>
					<li>Creative Suite</li>
					<li>Task Management</li>
					<li>CSS processors</li>
					<li>Version Control</li>
					<li>Reusable &amp; Generic Code</li>
				</ul>
			</article>

		</div>

	</div>
</section>