<section id="projects" class="content" aria-labelledby="projects-title">
	<h2 id="projects-title" class="section-title">Projects</h2>
	<p class="lead">A collection of GitHub repos I'm supposed to be looking after.</p>
	<ul class="grid-items">
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="http://bigfishtv.github.io/turret/">
					<figure class="card-image">
						<img src="assets/projects/turret.svg" alt="Turret">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Turret</h3>
						<hr class="card-divider" style="background: #05BED5;">
						<p class="card-summary">Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="https://github.com/scottdejonge/sible">
					<figure class="card-image">
						<img src="assets/projects/sible.svg" alt="Sible">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Sible</h3>
						<hr class="card-divider" style="background: #DB0A5B;">
						<p class="card-summary">Sible is a web based tool for discovering location accessibility information in a geospacial context.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="https://github.com/scottdejonge/template">
					<figure class="card-image">
						<img src="assets/projects/template.svg" alt="Template">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Template</h3>
						<hr class="card-divider" style="background: #434A53;">
						<p class="card-summary">Basic template for front-end development with Turret, Less, Watch, jQuery, Browserify, Browserify Shim, Browser Sync, and Uglify.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="http://scottdejonge.github.io/Map-Icons/">
					<figure class="card-image">
						<img src="assets/projects/map-icons.svg" alt="Map Icons">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Map Icons</h3>
						<hr class="card-divider" style="background: #458CC8;">
						<p class="card-summary">An icon font for use with Google Maps API and Google Places API using SVG markers and icon labels.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="https://github.com/scottdejonge/svgguide">
					<figure class="card-image">
						<img src="assets/projects/svg-guide.svg" alt="SVG Guide">
					</figure>
					<div class="card-content">
						<h3 class="card-title">SVG Guide</h3>
						<hr class="card-divider" style="background: #6C4BC4;">
						<p class="card-summary">Simple and intuative documentaiton guide to the drawing and use of SVG 1.1 on the web.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="https://github.com/scottdejonge/characters">
					<figure class="card-image">
						<img src="assets/projects/characters.svg" alt="Characters">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Characters</h3>
						<hr class="card-divider" style="background: #000000;">
						<p class="card-summary">Quick reference to HTML Entities for use as graphical icons in markup.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="https://github.com/scottdejonge/walkguide">
					<figure class="card-image">
						<img src="assets/projects/walk-guide.svg" alt="Walk Guide">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Walk Guide</h3>
						<hr class="card-divider" style="background: #21D676;">
						<p class="card-summary">Walk Guide is a responsive web application for discovering walks throughout Queensland.</p>
					</div>
				</a>
			</article>
		</li>
		<li class="grid-item">
			<article class="card">
				<a class="card-link" href="https://github.com/scottdejonge/junkyard-jack">
					<figure class="card-image">
						<img src="assets/projects/junkyard-jack.svg" alt="Junkyard Jack main character sprite">
					</figure>
					<div class="card-content">
						<h3 class="card-title">Junkyard Jack</h3>
						<hr class="card-divider" style="background: #1AA7D3;">
						<p class="card-summary">Junkyard Jack is a pixel art character developed for a unfinished iOS game.</p>
					</div>
				</a>
			</article>
		</li>
	</ul>
</section>