<section class="post" aria-labelledby="{{ post.slug }}-title">
  <header>
    {% if post.icon %}
      {% include svg/{{ post.icon }}.svg %}
    {% endif %}
    <h3 id="{{ post.slug }}-title">
      <a href="{{ post.website }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a>
    </h3>
    {% if post.description %}
      <p class="description">{{ post.description }}</p>
    {% endif %}
  </header>
  <footer>
    <p>
      <a class="action" href="{{ post.website }}" target="_blank" rel="noopener noreferrer">
        <span>View Website</span>
        {% include svg/arrow-right.svg %}
      </a>
    </p>
  </footer>
</section>