<section id="projects" class="section" aria-labelledby="projects-title">
	<div class="container">
		<h1 id="projects-title" class="section-title">Projects</h1>
		<p class="lead">A collection of GitHub repos I'm supposed to be looking after.</p>
		
		<div class="cards">

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/turret.svg" alt="Turret">
					</figure>
					<h2 class="card-title"><a class="card-link" href="http://bigfishtv.github.io/turret/">Turret</a></h2>
					<hr class="card-divider" style="background: #05BED5;">
					<p class="card-summary">Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/sible.svg" alt="Sible">
					</figure>
					<h2 class="card-title"><a class="card-link" href="https://github.com/scottdejonge/sible">Sible</a></h2>
					<hr class="card-divider" style="background: #DB0A5B;">
					<p class="card-summary">Sible is a web based tool for discovering location accessibility information in a geospacial context.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/template.svg" alt="Template">
					</figure>
					<h2 class="card-title"><a class="card-link" href="https://github.com/scottdejonge/template">Template</a></h2>
					<hr class="card-divider" style="background: #434A53;">
					<p class="card-summary">Basic template for front-end development with Turret, Less, Watch, jQuery, Browserify, Browserify Shim, Browser Sync, and Uglify.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/map-icons.svg" alt="Map Icons">
					</figure>
					<h2 class="card-title"><a class="card-link" href="http://scottdejonge.github.io/Map-Icons/">Map Icons</a></h2>
					<hr class="card-divider" style="background: #458CC8;">
					<p class="card-summary">An icon font for use with Google Maps API and Google Places API using SVG markers and icon labels.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/svg-guide.svg" alt="SVG Guide">
					</figure>
					<h2 class="card-title"><a class="card-link" href="https://github.com/scottdejonge/svgguide">SVG Guide</a></h2>
					<hr class="card-divider" style="background: #6C4BC4;">
					<p class="card-summary">Simple and intuative documentaiton guide to the drawing and use of SVG 1.1 on the web.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/characters.svg" alt="Characters">
					</figure>
					<h2 class="card-title"><a class="card-link" href="https://github.com/scottdejonge/characters">Characters</a></h2>
					<hr class="card-divider" style="background: #000000;">
					<p class="card-summary">Quick reference to HTML Entities for use as graphical icons in markup.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/walk-guide.svg" alt="Walk Guide">
					</figure>
					<h2 class="card-title"><a class="card-link" href="https://github.com/scottdejonge/walkguide">Walk Guide</a></h2>
					<hr class="card-divider" style="background: #21D676;">
					<p class="card-summary">Walk Guide is a responsive web application for discovering walks throughout Queensland.</p>
				</div>
			</article>

			<article class="card">
				<div class="card-inner">
					<figure class="card-image">
						<img src="assets/projects/junkyard-jack.svg" alt="Junkyard Jack main character sprite">
					</figure>
					<h2 class="card-title"><a class="card-link" href="https://github.com/scottdejonge/junkyard-jack">Junkyard Jack</a></h2>
					<hr class="card-divider" style="background: #1AA7D3;">
					<p class="card-summary">Junkyard Jack is a pixel art character developed for a unfinished iOS game.</p>
				</div>
			</article>

		</div>
	</div>
</section>