<section class="section" aria-labelledby="section-title">
  <div class="container">
    <h1 id="section-title">{% if page.page_title %}{{ page.page_title }}{% else %}{{ page.title }}{% endif %}</h1>
    <hr>
    {% if page.date %}
      <p class="meta">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: site.date_format }}
        </time>
        &middot;
        Reading time: <span title="Estimated read time">
        {% assign words = content | number_of_words %}
          {% if words < 360 %}
            1 min
          {% else %}
            {{ words | divided_by:180 }} mins
          {% endif %}
        </span>
      </p>
    {% endif %}
    {% if page.description %}
      <p class="lead">{{ page.description }}</p>
    {% endif %}
  </div>
</section>