<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    {% include 'favicon.njk' %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="{{ '/public/bundle.css' | timestamp | url }}" rel="stylesheet" />
  </head>
  <body>
    {% include 'header.njk' %}
    <main id="main">
      <article class="container">
        <h1>
          {% if headline %}
            {{ headline }}
          {% else %}
            {{ title }}
          {% endif %}
        </h1>
        {% if date %}
          <p class="meta">
            <time datetime="{{ date.toISOString() }}">
              {{
                date.toLocaleDateString('en-AU', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                }) 
              }}
            </time>
          </p>
        {% endif %}
        <hr aria-hidden="true" />
        <p class="lead">
          {{ description }}
        </p>
        {{ content | safe }}
      </article>
    </main>
    {% include 'footer.njk' %}
    {% codepen_js %}
  </body>
</html>
