---
layout: default
---

{{ content | safe }}

<ul class="items">
  {% for item in collections.writing | reverse %}
    {% set item = item.data %}
    <li>
      {% include 'item.njk' %}
    </li>
  {% endfor %}
</ul>
