code {
  background-color: var(--background-code);
  border-radius: var(--border-radius);
  color: var(--color-alt);
  display: inline-block;
  font-family: var(--monospace);
  font-size: 0.75em;
  padding: 0.25rem 0.5rem;
}
