code {
  background-color: var(--background-alt);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-alt);
  display: inline-block;
  font-family: var(--monospace);
  font-size: 0.75em;
  line-height: 1;
  padding: 0.325em 0.5em;
}
