h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-alt);
  line-height: 1.125;
  margin-bottom: 0.5em;

  & + p {
    margin-top: 1em;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1em;
  max-width: 20ch;

  & + h2 {
    margin-top: 0;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
  margin-top: 1.5em;

  & + h3 {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1.5em;

  & + h4 {
    margin-top: 0;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5em;
  margin-top: 2em;

  & + h5 {
    margin-top: 0;
  }
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1em;

  & + h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 1em;
}
