kbd {
  background-color: var(--background-alt);
  border-radius: calc(var(--border-radius) / 2);
  display: inline-block;
  font-family: var(--monospace);
  font-size: 0.75em;
  font-weight: 500;
  padding: 0.125em 0.25em;
}
