pre {
  background-color: var(--background-alt);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-alt);
  direction: ltr;
  font-family: var(--monospace);
  hyphens: none;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: auto;
  padding: 1em;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;

  & > code {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: currentColor;
    padding: 0;
  }
}
