/*
 * Footer
 */

// Footer
.footer {
	padding-top: @padding-small;
	padding-bottom: @padding-small;
}

.footer-copyright {
	margin: 0;
	.medium-font();
	.font-size(1.4);
	color: @light-grey;
	line-height: 1;
}