.card {
	position: relative;
	.flex-display(flex);
	.flex-direction(column);
	width: 100%;
}

.card-link {
	.flex-display(flex);
	.flex(1 0 auto);
	.flex-direction(column);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	.transition(all 0.1s ease-in-out);

	&:hover,
	&:focus {
		text-decoration: none;
		box-shadow: 0px 1px 20px fade(@dark, 5%);

		.card-footer {

			svg path {
				fill: @body-color;
			}
		}
	}
}

.card-header {
	
}

.card-image {
	position: relative;
	padding-top: 75%;
	background: @dark;
	border-bottom: 1px solid @light;

	img {
		.center();

		@media @xsmall {
			.square(64px);
		}
	}
}

.card-content {
	.flex-display(flex);
	.flex(1 0 auto);
	.flex-direction(column);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	padding: 30px 20px;
	min-height: 200px;
	background: @white;
}

.card-title {
	margin: 0;
	margin-bottom: 20px;
	.font-size(2);
	line-height: 1.5;
}

.card-title-overlay {
	.center();
	margin: 0;
	width: 80%;
	.bold-font();
	.font-size(2.4);
	color: @white;
	text-align: center;
	.uppercase();
	pointer-events: none;

	@media @large-up {
		.font-size(3.2);
	}
}

.card-summary {
	.flex(1 0 auto);
	margin: 0;
	max-width: 90%;
}
	
.card-footer {
	position: relative;
	padding: 20px 15px;
	.semibold-font();
	.font-size(1.4);
	.uppercase();
	color: @grey;
	background: @white;
	border-top: 1px solid lighten(@primary, 30%);

	svg {
		position: absolute;
		top: 50%;
		right: 15px;
		.translateY(-50%);

		path {
			fill: @grey;
			.transition(fill 0.1s ease-in-out);
		}
	}
}