.grid-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-pack: start;
	margin: 0;
	width: 100%;
	max-width: 100%;
}

.grid-item {
	display: flex;
	flex-grow: 0;
	flex-positive: 0;
	margin: 0;
	margin-bottom: (@gutter * 2);

	@media @xlarge {
		width: ~"calc(@{column-1-4} - @{gutter})";
	}

	@media @large {
		width: ~"calc(@{column-1-3} - @{gutter})";
	}

	@media @medium {
		width: ~"calc(@{column-1-2} - @{gutter})";
	}
	
	@media @small {
		margin-bottom: (@gutter-small * 2);
		width: ~"calc(@{column-1-2} - @{gutter})";
	}

	@media @xsmall {
		margin-bottom: (@gutter-xsmall * 2);
		width: @column-1;
	}
}

.grid-item-double {
	width: (@column-1-3 * 2);

	@media @medium-down {
		width: @column-1;
	}
}