:root {

  /**
   * Color
   */

  --primary-hue: 240deg;
  --secondary-hue: calc(var(--primary-hue) + 60deg);
  --white: hsl(var(--primary-hue), 100%, 100%);
  --light: hsl(var(--secondary-hue), 50%, 99%);
  --mid: hsl(var(--primary-hue), 10%, 30%);
  --dark: hsl(var(--primary-hue), 20%, 10%);
  --primary: hsl(var(--primary-hue), 80%, 50%);

  /**
   * Border
   */

  --border: 1px solid hsl(var(--secondary-hue), 80%, 95%);

  /**
   * Border Radius
   */

  --border-radius: 0.25rem;

  /**
   * Border Radius
   */

  --box-shadow: 0 0.0625rem 0.25rem 0.0625rem hsla(var(--secondary-hue), 80%, 50%, 5%);

  /**
   * Font
   */
  
  --sans-serif: system-ui;
  --serif: Georgia, serif;
  --monospace: monospace;
}