:root {

  /**
   * Color
   */

  --primary-hue: 225;
  --secondary-hue: calc(var(--primary-hue) + 30);
  --white: hsl(var(--primary-hue), 100%, 100%);
  --light: hsl(var(--secondary-hue), 35%, 98%);
  --mid: hsl(var(--primary-hue), 10%, 30%);
  --dark: hsl(var(--primary-hue), 20%, 10%);
  --primary: hsl(var(--primary-hue), 100%, 50%);
  --secondary: hsl(var(--secondary-hue), 100%, 50%);

  /**
   * Syntax
   */
  
   /* body text / default code / primary content */
   --syntax-base: inherit;
   
   /* comments / secondary content */
   --syntax-comment: hsl(var(--primary-hue), 10%, 50%);
   
   /* constants */
   --syntax-constants: hsl(300, 80%, 50%);
   
   /* regex, special keywords */
   --syntax-special: hsl(0, 80%, 50%);
   
   /* reserved keywords */
   --syntax-reserved: hsl(var(--primary-hue), 80%, 50%);
   
   /* strings, numbers */
   --syntax-strings: hsl(30, 80%, 50%);
   
   /* operators, other keywords */
   --syntax-operators: hsl(120, 80%, 50%);

  /**
   * Border
   */

  --border: 1px solid hsl(var(--secondary-hue), 35%, 90%);

  /**
   * Border Radius
   */

  --border-radius: 0.25rem;

  /**
   * Border Radius
   */

  --box-shadow: 0 0.0625rem 0.25rem 0.0625rem hsla(var(--secondary-hue), 80%, 75%, 5%);

  /**
   * Font
   */
  
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --serif: Georgia, serif;
  --monospace: monospace;
}