:root {
	--grid-size: 0.5rem;
	--grid-color: color(black a(4%));
	--grid-weight: 1px;
}

.debug {
	background-size: var(--grid-size) var(--grid-size);
	background-image:
		repeating-linear-gradient(0deg, var(--grid-color), var(--grid-color) var(--grid-weight), transparent var(--grid-weight), transparent var(--grid-size)),
		repeating-linear-gradient(-90deg, var(--grid-color), var(--grid-color) var(--grid-weight), transparent var(--grid-weight), transparent var(--grid-size)); 

	@media (--s-up) {
		background-position: center center;
	}
}