.box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  & header {
    flex: auto;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor;
    }

    & h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  & footer {
    flex: none;
    margin-top: 1em;
  }
}