.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: var(--white);
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
}