.nav {
	font-weight: 700;
	font-size: 0.75rem;
	text-transform: uppercase;

	& a {
		padding-top: 1em;
		padding-bottom: 1em;
		color: currentColor;
		text-decoration: none;
		background: none;

		& + a {
			margin-left: 1em;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}