.nav {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	font-size: 0.875rem;
  border-bottom: 2px solid currentColor;

	& a {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 4rem;
		text-align: center;
		text-decoration: none;
		background: none;
	  border-left: 2px solid currentColor;

	  &:last-child {
	  	border-right: 2px solid currentColor;
	  }

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	& span {
		display: block;
	}
}