.post {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  & header {
    flex: auto;

    & h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    & svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor;

      & + h3 {
        margin-top: 0.5em;
      }
    }
  }

  & footer {
    flex: none;
    margin-top: 1em;
  }
}