.social {
  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    flex: none;
    display: block;
    padding: 0.5em;
    color: currentColor;

    &:hover,
    &:focus {
      color: var(--primary);
      text-decoration: none;
    }
  }

  & svg {
    display: block;
    fill: currentColor;
  }
}