.header {
	padding-top: @padding-xsmall;
	padding-bottom: @padding-xsmall;
	text-align: center;
	background: @white;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	display: block;
	margin: 0px auto;

	img {
		.square(32px);
		border-radius: 50%;
	}
}

.header-navigation {
	
	a {
		display: inline-block;
		padding: 10px;
		.semibold-font();
		.font-size(@font-size-small);
		.uppercase(0.1rem);
	}
}