.header {
	padding: $space-m;
	text-align: center;
	background: $white;
}

.header-avatar {
	margin: 0px auto;
	width: 112px;
	height: width;
	border-radius: 56px;
}

.header-title {
	margin: 30px 0px 10px;
	font-family: $bold-family;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}