$gutter: 1.6rem;

$letter-spacing: 0.035rem;

$fast: 100ms;

$space-xl: 8.0rem;
$space-l: 6.5rem;
$space-m: 5.0rem;
$space-s: 3.5rem;
$space-xs: 2.0rem;

$bold-family: 'AvenirLTStd-Black', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$semibold-family: 'AvenirLTStd-Heavy', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$medium-family: 'AvenirLTStd-Medium', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$regular-family: 'AvenirLTStd-Roman', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$light-family: 'AvenirLTStd-Light', Century Gothic, CenturyGothic, AppleGothic, sans-serif;

$font-size-xl: 2.4rem;
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;

$white: #FFFFFF;
$black: #000000;
$light-grey: #F0F1F5;
$grey: #6B727B;
$dark-grey: #414851;

$light: #F0F1F5;
$dark: #121212;

$primary: #02A1D7;
$secondary: #2FCC9D;
$tertiary: #B2347E;