.post {
	margin-top: 2rem;
	padding: 1rem;
	font-family: var(--font-family-system);
	background: var(--white);
	border: 1px solid var(--grey-300);
	border-radius: var(--border-radius);
    box-shadow: 0 0 1rem 0 var(--grey-200);

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.post-image {
	display: block;
	margin-bottom: 0.75rem;
	background: transparent;

	& img {
		width: 2rem;
		height: 2rem;
	}
}

.post-date {
	margin: 0.75rem 0;
}

.post-title {
	margin: 0;
	font-weight: 500;
	font-size: 1rem;
}

.post-description {
	margin: 0.75rem 0;
	font-size: 0.75rem;
}