.item {
  background-color: var(--background-alt);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: block;
  padding: 1rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--primary);
    color: white;
    text-decoration: none;
  }
}
