<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="grid" {% if page.color && page.background %} style="color: {{ page.color }}; background-color: {{ page.background }};" {% endif %}>
    {% include header.html %}
    <main class="section" aria-labelledby="title">
      <div class="container">
        <h1 id="title">{{ page.title }}</h1>
        {% if page.description %}
          <p class="lead">{{ page.description }}</p>
        {% endif %}
        {% if page.date %}
          <p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></p>
        {% endif %}
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
