.post {

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.post-meta {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 0.75rem;
}

.post-title {
	margin: 0;
}

.post-description {
	margin: 0;
	font-size: 0.875rem;
}