// Imports
@import './lib/normalize.less';
@import './mixins.less';
@import './fonts.less';
@import './definitions.less';

//Font Rendering
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Utlities
* {
	.box-sizing(border-box);
}

//Remove Webkit Glow
textarea, input {
	outline: none;
}

// Gradient
@-webkit-keyframes gradient {
	
	0% {
		background-position: 0% 0%;
	}
	
	50% {
		background-position: 100% 100%;
	}
	
	100% {
		background-position: 0% 0%;
	}
}

@keyframes gradient {
	
	0% {
		background-position: 0% 0%;
	}
	
	50% {
		background-position: 100% 100%;
	}
	
	100% {
		background-position: 0% 0%;
	}
}

// General
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
	font-size: 10px;
}

body {
	margin: 0 auto;
	.regular-font();
	color: @dark-grey;
	background: @light;
	letter-spacing: 0.01rem;
	.clearfix();
}

hr {
	position: relative;
	clear: both;
	margin: 5em;
	border: 0;
	height: 1px;
	background: @black;

	&:before {
		.center();
		.square(20px);
		content: '';
		background: @white;
	}

	&:after {
		.center();
		content: '§';
		font-size: 16px;
		line-height: 1;
	}

	@media @small {
		margin: 2em;
	}
}

img {
	max-width: 80%;
	vertical-align: bottom;
}

// Links
a {
	color: @primary;
	text-decoration: none;
	.transition(all @transition-fast ease-in-out);

	&:visited {
		color: lighten(@primary, 2%);
	}

	&:hover,
	&:focus {
		color: @secondary;

		&:visited {
			color: @secondary;
		}
	}
}

// Typography
h1, h2, h3, h4, h5, h6 {
	margin: 1em 50px;
	.semibold-font();
	line-height: 1.2;

	@media @small {
		margin: 1em 20px;
	}
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	
}

h1 {
	.medium-font();
	.font-size(3.2);
}

h2 {
	.font-size(2.8);
}

h3 {
	.font-size(2.2);
}

h4 {
	.font-size(1.2);
}

h5 {
	.font-size(1.1);
}

h6 {
	.font-size(1);
}


p,
ul li,
ol li {
	.regular-font();
	.font-size(1.6);
	color: @dark-grey;
	line-height: 1.6;
}

// Paragraph
p {
	margin: 1.5em 50px;

	@media @small {
		margin: 1em 20px;
	}
}

// Lists
ul,
ol {
	margin: 3em 50px;
	padding: 0;

	@media @small {
		margin: 2em 20px;
	}
}

ul li,
ol li {
	margin: 0.5em 50px;

	@media @small {
		margin: 1em 20px;
	}
}

// Small
small {
	font-size: 0.8em;
	line-height: 1.2;
}

// Time
time {
	display: block;
	margin: 1em 50px;
	.regular-font();
	.font-size(1.4);

	@media @small {
		margin: 1em 20px;
	}
}

time + hr {
	clear: both;
	margin: 2em auto 5em 5em;
	border: 0;
	height: 2px;
	width: 50px;
	background: @black;

	&:before,
	&:after {
		content: none;
	}

	@media @small {
		margin: 2em auto 2em 2em;
	}
}

// Blockquote
blockquote {
	margin: 5em 10em;
	padding: 0;

	p {
		margin: 0;
		.thin-font();
		.font-size(2.8);
		color: @grey;
		line-height: 1.4;
	}

	@media @small {
		margin: 3em 3.5em;
	}
}

cite {
	display: block;
	margin-top: 15px;
	.bold-font();
	.font-size(1);
	color: @dark-grey;
	font-style: normal;
	text-transform: uppercase;

	&:before {
		content: '—';
		margin-right: 5px;
	}
}

// Header
header {
	
}

// Main
main {
	margin: 0 auto;
	padding: 5em 0;
	max-width: 1000px;
	min-height: 100vh;
	background: @white;

	@media @large {
		margin: 0 auto 0 300px;
	}

	div:first-of-type {
		margin-top: 0;
	}

	div:last-of-type {
		margin-bottom: 0;
	}

	h1:first-of-type {
		margin-top: 0;
		margin-bottom: 10px;

		sup {
			display: block;
			top: 0;
			margin-bottom: 1em;
			font-size: 0.5em;
		}
	}

	h2 {
		margin-top: 2em;
	}

	h3 {
		margin-top: 2em;
	}

	h4 {
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		.bold-font();
		.font-size(1.4);
		font-style: normal;
		text-transform: uppercase;
	}

	img {
		margin: 2em auto;
		display: block;
	}
}

// Aside
aside {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 300px;
	height: 100vh;
	background: @inverse;

	@media @mobile {
		.translateX(-100%);
	}

	h3, p {
		margin: 0;
		color: @white;
	}

	h3 {
		margin-bottom: 0.5em;
		.semibold-font();
	}

	p {
		.thin-font();
	}

	header {
		text-align: center;

		a {
			margin: 2em auto 3.5em;
			display: block;
			.square(100px);
			border-radius: 50%;
			background: linear-gradient(180deg, #FC3D39, #FC3159, #FD9427, #FECB2F, #53D769, #3CABDA, #177EFB, #595AD3) !important;
			background-size: 1200% 1200% !important;
			.animation(gradient 60s infinite);
		}
	}

	footer {
		position: absolute;
		left: 10px;
		bottom: 10px;

		p {
			margin: 0;
			.semibold-font();
			.font-size(1);
			color: @white;
		}
	}
}

// Nav
nav {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	.translateY(-50%);

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;

			a {
				display: block;
				padding: 20px;
				.thin-font();
				.font-size(2.4);
				color: @white;
				text-align: center;

				&:visited {
					color: darken(@white, 2%);
				}

				&:hover,
				&:focus {
					color: darken(@white, 5%);

					&:visited {
						color: darken(@white, 5%);
					}
				}
			}
		}
	}
}

// Section
section {
	margin: 0 auto;
	min-height: 100vh;
	background: @white;
	.clearfix();

	@media @large {
		margin: 0 auto 0 300px;
	}

	figure {
		float: left;
		width: @column-1-2;

		img {
			width: 100%;
			min-width: 100%;
			height: auto;
		}

		@media @extra-large {
			width: @column-1-3;
		}

		@media @small {
			width: @column-1;
		}
	}

	figcaption {

	}
}

// Article
article {
	margin-bottom: 35px;
	width: @column-1-3;

	header {
		position: relative;
		.media-ratio(640, 400);
		background: red;

		img {
			.cover();
		}
	}

	footer {
		padding: 30px 20px;
		background: @white;
	}

	h3 {
		margin: 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}

// Figure
figure {

}

figcaption {
	
}

// Code
pre {
	margin: 0;
	padding: 50px;
	background: @dark;

	code {
		display: block;
		margin: 0 auto;
		max-width: @container-width;
		font-family: @font-family-monospace;
		.font-size(1.2);
		color: @white;
	}

	@media @small {
		padding: 20px;
	}
}

// Footer
footer {
	
}